#.gitignore 
/*
 
#!/src/Funation/*.cpp
#!/src/Funation/*.h

#!/src/IO/*.cpp
#!/src/IO/*.h

#!/src/Thread/*.h
#!/src/Thread/*.cpp

#!/src/rapidjson/*.h
#!/src/rapidjson/*.cpp
#!/src/**/*.h
#!/src/**/*.cpp

!/src/
src/*.un~

!/src/Funation/*.un~
!/src/Thread/*.un~
!/src/IO/*.un~


!/client.cpp

!test.sh

!goquery

!makefile

!.gitignore

!**/*.pdf




