#.gitignore 
/*
 
!/src/Funation/*.cpp
!/src/Funation/*.h

!/src/IO/*.cpp
!/src/IO/*.h

!/src/Thread/*.h
!/src/Thread/*.cpp

!/src/rapidjson/*.h
!/src/rapidjson/*.cpp
#!/src/**/*.h
#!/src/**/*.cpp

!/client.cpp

!test.sh

!goquery

!makefile

!.gitignore

!**/*.pdf




